---
interface Props{}
const {} =Astro.props;
---
<section class="img-bg">
    <div class="next-banner-1">
      <div class="next-banner-2">
        <div class="next-banner-3">
          <div class="left-banner">
            <div class="bg-solid-color">
              <div class="text-change-area">
                <div class="text-change-area-h3 DisplayNone" data-index="0"><h3>RESPONSIVE</h3></div>
                <div class="text-change-area-h3 DisplayNone" data-index="1"><h3>CREATIVE</h3></div>
                <div class="text-change-area-h3 DisplayNone" data-index="2"><h3>Fast</h3></div>
                <div class="text-change-area-h3 DisplayNone" data-index="3"><h3>MAGNUM</h3></div>
                <div class="text-change-area-h3 DisplayNone" data-index="4"><h3>SPARK</h3></div>
              </div>
            </div>
          </div>

          <svg class="svg-blob"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" width="20%" id="blobSvg" style="opacity: 1;" transform="rotate(170)" filter="blur(0px)">
            <defs>                        <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color: rgb(0, 76, 255);"></stop>
              <stop offset="100%" style="stop-color: rgb(0, 98, 255);"></stop>
            </linearGradient>                        </defs>
            <path id="blob" fill="url(#gradient)" style="opacity: 1;" d=""><animate attributeName="d" dur="9000ms" repeatCount="indefinite"
                  values="M420.7122,331.4339Q380.09423,412.86779,301.16508,392.29219Q222.23594,371.7166,157.11322,349.24982Q91.99051,326.78305,53.64135,232.38203Q15.29219,137.98101,118.09898,129.47187Q220.90577,120.96273,294.67458,111.25967Q368.44339,101.55661,414.88678,175.77831Q461.33017,250,420.7122,331.4339Z;M429.79847,339.54154Q392.67727,429.08308,294.97368,455.00137Q197.27008,480.91966,143.94598,403.56786Q90.62188,326.21607,83.52769,246.22992Q76.43351,166.24376,136.8518,92.77008Q197.27008,19.29641,287.1482,55Q377.02632,90.70359,421.97299,170.3518Q466.91966,250,429.79847,339.54154Z;M388.67097,319.27849Q360.55699,388.55699,291.23441,379.72688Q221.91183,370.89678,145.00645,354.28387Q68.10108,337.67097,71.32903,251.33548Q74.55699,165,142.39247,119.95591Q210.22796,74.91183,286.12043,91.61398Q362.0129,108.31613,389.39892,179.15806Q416.78495,250,388.67097,319.27849Z;M420.7122,331.4339Q380.09423,412.86779,301.16508,392.29219Q222.23594,371.7166,157.11322,349.24982Q91.99051,326.78305,53.64135,232.38203Q15.29219,137.98101,118.09898,129.47187Q220.90577,120.96273,294.67458,111.25967Q368.44339,101.55661,414.88678,175.77831Q461.33017,250,420.7122,331.4339Z"></animate></path></svg>







          <div class="right-banner">
            <div class="little-lower">
              <div class="title-us">
                <div class="line"></div>
                <h3 class="who-we-are"> Who we are</h3>
              </div>
              <div class="description-who-we-are">
                <h4>At AdX. Factor, we are a team of supercharged, inventive thinkers equipped to conceptualize creative campaigns for small and large enterprises. Our aim is to take the burdens off your plates and offer top-of-mind strategy, design, and digital marketing solutions, adding the “X factor” to your brand story.
                  Our marketing agency is dedicated to providing creative designs with a strong emphasis on efficient time management. We understand the importance of delivering work on time and strive to meet all deadlines without any delays.
                  From guerrilla marketing tactics to unexpected twists in storytelling, we infuse that impactful 'X Factor' that transforms your brand from normal to extraordinary.
                </h4>

                <div class="hyper-link margin7perc">
                  <div class="SpecialLink IWantAMouseOVerNowBut75">
                    <a href="adxFactor-digital-marketing-advertising-company.html" title="More About Us">
                      More About Us
                    </a>
                    <div class="Line"></div>
                  </div>
                </div>
              </div>

              <div class="middle-lower-1">
                <div class="middle-lower-2">
                <div class="button-1">
<!--                    Creativity-->

                </div>
                </div>
                <div class="button-1"></div>
              </div>
              <div class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<script>
    
</script>

 <style>
      .img-bg {
  position: relative;
}
@media (max-width: 550px){
  .image-banner,.img-bg{
    padding-top: 40px;
    position: relative;
  }}


@media (max-width: 900px) {
  .next-banner-1,
  .next-banner-2,
  .next-banner-3,
  .left-banner,
  .bg-solid-color,
  .right-banner {
    width: 100%;
    justify-content: center;
  }

  .bg-solid-color {
    height: 50vh;
    width: 40vh;
  }

  .text-change-area {
    height: 15vh;
  }

}
@media (max-width: 900px) {
  .next-banner-3, .next-banner-2, .next-banner-1 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 750px) {
  .bg-solid-color {
    height: 30vh;
    /*width: 40vh;*/
  }
  .right-banner{
    width: 90%;
  }
  .display-last{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .tbl-col{
    width: 95% !important;
    flex-direction:column ;

  }
  .left50{
    width: 100%  !important;
  }
  .tbl{
    width: 100%;
  }



}


.blobSvg1{

right: 0;
width: 100%;
}



.blob1{
width: 100%;

right: 0;
}
.svg-blob{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}


.next-banner-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.next-banner-2 {
  justify-content: center;
  align-content: center;
  display: flex;
  width: 80%;
  height: 80%;
}
.next-banner-3 {
  width: 98%;
  display: flex;
}
.left-banner {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-solid-color {
  width: 50%;
  height: 60vh;
  /*border-style: solid;*/
  /*border-width: 0 0 380px 420px;*/
  /*border-color: transparent transparent #edab20 transparent;*/
  background-color: #f5b121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-change-area {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  position: relative; /* Add position property */
}
.text-change-area-h3 {
  text-transform: uppercase;
  font-family: "Arial Black", sans-serif;
  font-size: 60px;
  letter-spacing: 0.14em;
  text-align: center;
  margin: 10px 0;
}
.DisplayNone {
  display: none !important;
}
.right-banner {
  width: 50%;
  /*background-color: rgba(97, 86, 249, 0.75);*/
}
.little-lower{
  padding-top: 30px;
  /*background-color: #39ac31;*/
  height: 100px;
}
.title-us{
  display: inline-flex;
  /*flex-direction: row-reverse;*/
  justify-content: space-between;
  padding-left: 26px;
  letter-spacing: .2em;
  /*background-color: #cccccc;*/

}
.who-we-are{
  font-size: 12px;
  margin-top: -8px;
  /*font-weight: lighter;*/
  text-transform: uppercase;
  /*background-color: #39ac31;*/
  font-family: 'Regular', system-ui;

}
.line{
  top: 50%;
  transform: translate(0,-50%);
  left: 0;
  width: 30px;
  height: 2px;
  margin-right: 10px;
  background-color: black;

}
 h4{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  display: inline;
  text-transform: inherit;

  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.description-who-we-are{
  font-family: 'Book', system-ui;
  font-size: 15px;
  color: #222;
  line-height: 1.8;

  padding-top: 38px;
  padding-bottom: 54px;
  padding-left: 20px;

}
.AnimateMe {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}




.SpecialLink {
  position: relative;
  font-family: 'Bold', sans-serif;
  font-size: 11px;
  letter-spacing: .2em;
  color: #b42a76;
  padding-left: 20px;
  text-transform: uppercase;
  background-image: url(/images2/arrowpink.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;


}

.IWantAMouseOVerNowBut50, .IWantAMouseOVerNowBut75, .IWantAMouseOVerNowBut80, .IWantAMouseOVerNowBut85, .IWantAMouseOVerNow {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.SpecialLink a{
  cursor: pointer;
  text-decoration: none;
  text-transform: inherit;
  border-width: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inherit;
}
.SpecialLink .Line {
  position: absolute;
  left: 20px;
  right: 0;
  bottom: -5px;
  height: 1px;
  background-color: #b42a76;
}






.more-about-us{
  height: 100vh;
}
 </style>